
*.hcl
*.exe
WorkingDirectory/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.17.0/windows_amd64/LICENSE
WorkingDirectory/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.17.0/windows_amd64/CHANGELOG.md
WorkingDirectory/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.17.0/windows_amd64/README.md
WorkingDirectory/LocalDockerExample/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.17.0/windows_amd64/CHANGELOG.md
WorkingDirectory/LocalDockerExample/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.17.0/windows_amd64/LICENSE
WorkingDirectory/LocalDockerExample/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.17.0/windows_amd64/README.md
WorkingDirectory/LocalDockerExample/.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/windows_amd64/CHANGELOG.md
WorkingDirectory/LocalDockerExample/.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/windows_amd64/LICENSE
WorkingDirectory/LocalDockerExample/.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/windows_amd64/README.md
WorkingDirectory/LocalDockerExample/terraform.tfstate
WorkingDirectory/LocalDockerExample/terraform.tfstate.backup
WorkingDirectory/LocalDockerExample/terraform.tfstate.backup
WorkingDirectory/LocalDockerExample/terraform.tfstate.backup
WorkingDirectory/LocalDockerExample/tfplan
WorkingDirectory/LocalDockerExample/tfplan
WorkingDirectory/LocalDockerExample/terraform.tfstate.backup
WorkingDirectory/LocalDockerExample/terraform.tfstate.backup
WorkingDirectory/LocalstackAwsExample/terraform.tfstate
WorkingDirectory/LocalstackAwsExample/terraform.tfstate.backup
WorkingDirectory/LocalstackAwsExample/terraform.tfstate.backup
WorkingDirectory/KubernetesCivoExample/.terraform/providers/registry.terraform.io/civo/civo/1.0.31/windows_amd64/CHANGELOG.md
WorkingDirectory/KubernetesCivoExample/.terraform/providers/registry.terraform.io/civo/civo/1.0.31/windows_amd64/changelog.yml
WorkingDirectory/KubernetesCivoExample/.terraform/providers/registry.terraform.io/civo/civo/1.0.31/windows_amd64/LICENSE
WorkingDirectory/KubernetesCivoExample/.terraform/providers/registry.terraform.io/civo/civo/1.0.31/windows_amd64/README.md
WorkingDirectory/KubernetesCivoExample/.terraform/providers/registry.terraform.io/cloudflare/cloudflare/3.35.0/windows_amd64/CHANGELOG.md
WorkingDirectory/KubernetesCivoExample/.terraform/providers/registry.terraform.io/cloudflare/cloudflare/3.35.0/windows_amd64/LICENSE
WorkingDirectory/KubernetesCivoExample/.terraform/providers/registry.terraform.io/cloudflare/cloudflare/3.35.0/windows_amd64/README.md
WorkingDirectory/KubernetesCivoExample/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.13.1/windows_amd64/LICENSE
WorkingDirectory/KubernetesCivoExample/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.13.1/windows_amd64/README.md
WorkingDirectory/KubernetesCivoExample/terraform.tfstate
WorkingDirectory/KubernetesCivoExample/terraform.tfstate.backup
WorkingDirectory/LocalDockerExample/terraform.tfstate.backup
WorkingDirectory/LocalDockerExample/terraform.tfstate.backup
WorkingDirectory/LocalDockerExample/tfplan
WorkingDirectory/LocalDockerExample/terraform.tfstate.backup
WorkingDirectory/LocalDockerExample/tfplan
WorkingDirectory/LocalDockerExample/terraform.tfstate.backup
WorkingDirectory/LocalDockerExample/tfplan
